@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}
body{
    font-family: "Roboto-Regular";
    background: #D7D9D7;
}
header{
    display: flex;
    flex-direction: column;
}
.logo{
    height: 15vh;
    width: 15em;
    margin: 1em;
}

nav ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: #040F0F;
    display: flex;
    justify-content: center;
    
}
footer{
    background: #FA5700;
    text-align: center;
}
@media (min-width: 768px){
    
}

@media (min-width: 1024px){
    
}
