@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}
body{
    font-family: "Roboto-Regular";
    background: red;
}

@media (min-width: 768px){
    body{
        background-color: blueviolet;
    }
}

@media (min-width: 1024px){
    body{
        background-color: chartreuse;
    }
}